@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Two things: Please check your email to confirm your account and enter your confirmation code from the SMS text sent.
</p>
    }
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Email" />
            <h4>Confirm Phone Number.</h4>
            <hr />
            <div asp-validation-summary="None" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.token"></label>
                <input asp-for="Input.token" class="form-control" />
                <span asp-validation-for="Input.token" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
    </div>
</div>
