@page
@model TextStory.Pages.Message.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Message.ID" />
            <div class="form-group">
                <label asp-for="Message.Content" class="control-label"></label>
                <input asp-for="Message.Content" class="form-control" />
                <span asp-validation-for="Message.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.PauseMins" class="control-label"></label>
                <input asp-for="Message.PauseMins" class="form-control" />
                <span asp-validation-for="Message.PauseMins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.PauseSeconds" class="control-label"></label>
                <input asp-for="Message.PauseSeconds" class="form-control" />
                <span asp-validation-for="Message.PauseSeconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.Sequence" class="control-label"></label>
                <input asp-for="Message.Sequence" class="form-control" />
                <span asp-validation-for="Message.Sequence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.StoryId" class="control-label"></label>
                <input asp-for="Message.StoryId" class="form-control" />
                <span asp-validation-for="Message.StoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
